<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329073268184-0180qvsod0urgitqb1fetfshc2vt3hsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329073268184-0180qvsod0urgitqb1fetfshc2vt3hsi</string>
	<key>API_KEY</key>
	<string>AIzaSyB92aAfTW7fRYg5Xhyo-oXQUqbsX1Dzm5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>329073268184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.profburoFMF.university.smolUniversity</string>
	<key>PROJECT_ID</key>
	<string>smoluniversity</string>
	<key>STORAGE_BUCKET</key>
	<string>smoluniversity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329073268184:ios:dc614d950bf49ef1fc0ead</string>
</dict>
</plist>